.root {
    display: flex;
    position: relative;
    justify-content: unset;
    align-items: unset;
    padding-right: 4rem;
}

.heroImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 630px;
    position: relative;
    margin-left: 0px;
    margin-top: 60px;
    z-index: 0;
}

.backgourndContainer {
    display: flex;
    position: relative;
}

.hero_image {
    height: 750px;
    width: 630px;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    object-position: center;
    background-color: var(--gray);
    clip-path: url(#clip);
}

.morphShape {
    position: absolute;
}

@media (max-width: 860px) {
    .morphShape {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .backgourndContainer {
        display: flex;
        position: relative;

    }

    .root {
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        padding-right: 0;
    }
}