/* Desktop Styles */

.navbarContainer {
  display: flex;
  position: fixed;
  align-items: center;
  width: 4rem;
  z-index: 1000;
  color: transparent;
}

.navbar {
  align-items: center;
  background-color: var(--blue-dark-opacity);
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  width: 4rem;
  justify-content: center;
}

.navButtons {
  list-style: none;
  display: flex;
  rotate: 90deg;
  margin: 0;
  padding: 0;
  gap: 2rem;
  color: var(--white-opacity);
  text-decoration: none;
}

.navButtons li {
  margin: 0;
  text-align: center;
  color: var(--white-opacity);
  rotate: 180deg;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

.navButtons li a {
  color: var(--white-opacity);
  text-decoration: none;
}

/* Mobile Styles */

@media (max-width: 1200px) {
  .navbar {
    width: 100%;
    height: 4rem;
    background-color: transparent;
    box-shadow: none;
  }

  .navbarContainer {
    width: 100%;
  }

  .navButtons {
    margin: 0;
    padding: 0;
    gap: 2rem;
    display: flex;
    rotate: none;
  }

  .navButtons li {
    rotate: none;
  }

  .menuIcon {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--white);
    z-index: 1100;
    cursor: pointer;
  }

  .mobileMenuActive {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--gray);
    z-index: 1000;
    padding: 2rem 1rem;
    gap: 2rem;
    animation: slideDown 0.3s ease-in-out;
    overflow-y: auto;
  }

  .mobileMenuActive li {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
  }

  .mobileMenuInactive {
    display: none;
  }
}

/* Animation Keyframes */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}