.container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-left: 4rem;
    background-color: transparent;
    height: auto;
}

.background {
    background-color: var(--dark-gray-opacity);
    border-radius: 20px;
    padding: 1rem;
    margin: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
}

.ResumeCard {
    display: grid;
    grid-template-columns: 1.25fr auto 1fr;
    align-items: start;
    background-color: var(--blue-dark-opacity);
    color: #ffffff;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    border-color: var(--white);
    height: auto;
}

.seperator {
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    width: 1px;
    height: 90%;
    background-color: var(--white-opacity);
}

.content {
    padding-top: 2rem;
    height: auto;
}

.subTitle {
    font-size: 16px;
    color: var(--white);
}

.tileLineElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--yellow);
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 2rem;
}

.skills-section {
    background-color: var(--dark-gray-opacity);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.subTitle {
    font-size: 16px;
    color: var(--white);
    text-align: center;
    margin-bottom: 1rem;
}

.grid {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 50px;
    max-width: 90px;
}

.item p {
    font-size: 16px;
    text-align: center;
    color: var(--white);
    margin: 0;
    padding: 0;
    padding-top: 1rem;
}

.skillIcon {
    width: 90px;
    height: 90px;
    margin-bottom: 0.5rem;
}

.languagesBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
    max-width: 110px;
}

.gridLanguages {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: clamp(1rem, 3vw, 5rem);
    padding-bottom: 0;
    padding-top: 1rem;
}

.skillIcon {
    display: flex;
    width: 90px;
    height: 90px;
    max-width: 90px;
    margin-bottom: 0.5rem;

}

.gridHobbies {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: clamp(1rem, 3vw, 5rem);
    padding-bottom: 0;
    padding-top: 1rem;
}

.hobbyitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white-opacity);
    padding: 0;
    margin: 0;
    padding-bottom: 3rem;
}

.hobbyitem p {
    font-size: 16px;
    text-align: center;
    color: var(--white);
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    text-wrap: nowrap;
}