:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: var(--gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple: #8949C4;
  --white: #ffffff;
  --white-opacity: rgba(255, 255, 255, 0.8);
  --dark-purple: #62358c;
  --light-purple: #9866c6;
  --yellow: #FEC107;
  --red: #EB1D28;
  --blue-dark-opacity: #262A31;
  --black-opacity: rgba(0, 0, 0, 0.7);
  --white-opacity: #ffffffbf;
  --dark-gray-opacity: rgba(38, 42, 49, 0.3);
  --gray: #14171C;
  --black: #000000;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--blue-dark-opacity) var(--white);
}

#root {
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

html {
  overflow-x: hidden;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

h2 {
  font-size: 52px;
  font-weight: 100;
}

h1 {
  font-size: 62px;
  font-weight: 100;
}

h3 {
  font-size: 28px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 20px;
  font-weight: 200;
  color: var(--yellow);
  height: fit-content;
  margin: 0;
  padding: 0;
}

p {
  font-size: 54px;
  font-weight: 200;
}

li {
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  color: var(--white-opacity);
}

a {
  color: var(--white);
}